# environment.yml must be kept in sync
spacy==3.0.3
streamlit==0.77.0
st-annotated-text==1.1.0
transformers==4.2.2
datasets==1.18.4
torch>=1.8.0,<2.0.0
bert-score==0.3.7
rouge-score==0.0.4
toolz==0.11.1
nltk==3.4.5
meerkat-ml==0.2.4
sentencepiece==0.1.95
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
protobuf~=3.19.0
